.footer{
    background-color: black;
    color: aliceblue;
    width:100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    box-sizing: border-box;
}